.online{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    margin-left:20%;
}

.online:hover{
    background-color: #e5defc;
}

.onlineImgContainer{
    position: relative;
}

.onlineIcon{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}

.onlineIcon.green{
    background-color: limegreen;
}

.onlineIcon.red{
    background-color: red;
}


.onlineImg{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.onlineName{
    margin-left: 30px;
}
