.home{
    display: flex;
    width: 100%;
}

.topbarContainer{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #5E4A9D;
    position: sticky;
    z-index: 999;
    align-items: center;
    font-weight: bold;
}

.topbarRight{
    margin-right: 10px;
    background-color: #B4A0FF;
    padding: 5px;
    border-radius: 5px;
    color: #5E4A9D;
    cursor: pointer;
}

.topbarLeft{
    margin-left: 10px;
    color: white;
    font-size: 22px;
}

.leftbar{
    flex: 4;
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
}

.leftbarWrapper{
    padding: 20px;
}

.leftbarSearch{
    display: flex;
    justify-content: space-around;
}

.leftbarSearchIcon{
    margin-left: 2px;
}

.leftbarSearchInput{
    border: none;
    border-bottom: 1px solid;
    width: 100%;
    margin-bottom: 20px;
}

.leftbarSearchInput:focus{
    outline: none;
}

.centerbar{
    flex: 5;
    height: calc(100vh - 50px);
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
}

.centerbarHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f4f2f7;
}

.centerbarHeadName{
    display: flex;
    align-items: center;
}

.centerbarHead p{
    font-size: 10px;
}

.centerbarMessages{
    height: 80%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.centerbarNoMessage{
    text-align: center;
    color:#5E4A9D;
    font-size: 25px;
}

.centerbarInput{
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
}

.centerbarText{
    width: 100%;
    height: 50px;
}

.centerbarText:focus{
    outline: none;
}

.centerbarBtn{
    background-color: #e5defc;
    color: #5E4A9D;
    margin-left: 2px;
    font-weight: bold;
    border: 0.5px solid;
    cursor: pointer;
}

.rightbar{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    justify-content: center;
}

.rightbarHeading{
    text-align: center;
    margin-bottom: 5px;
    color:#5E4A9D;
}

.rightbarWrapper{
    padding: 20px;
}